.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
}


.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}

.search-label {
	position: relative;
}

.container input {
    width: 100%;
    padding: 16px;
    font-size: 24px;
    color: #444;
    border-color: #EEEEEE;
    border-radius: 15px;
}

.search-icon {
	position: absolute;
    top: -18px;
    font-size: 26px;
    color: white;
    padding: 10px;
    right: -11px;
    background: #60BEB8;
    border-radius: 50%;
}

input:focus{
    outline: none;
}

/*Result Container*/
.results-container {
	display: flex;
	flex-flow: wrap;
	margin-top: 20px;
}

.result-item {
	position: relative;
    margin: 10px;
    text-align: center;
	min-width: 245px;
}

.image-username {
	color: white;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    margin: 0;
    margin-left: 15px;
}
.image-username2 {
	color: white;
    font-size: 18px;
    margin-left: 5%;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-self: center;
	box-sizing: border-box;
	height: 100%;

}

.image {
	width: 100%;
    height: 200px;
    border-radius: 20px;
}

.full-image {
	width: 90%;
    height: 500px;
    border-radius: 20px;
}
/*Loader*/
.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.load-more-loading{
	height: 10px;
	width: 10px;
}
/*Show and hide*/
.show {
	display: inline-block;
}

.hide {
	display: none;
}

/*Prev and next*/

.nav-link-container {
	margin: 20px 0;
    display: flex;
    justify-content: center;
}

.nav-link {
	color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    background: #60BEB8;
    border-radius: 18px;
}

.greyed-out {
	background: #f1f1f1;
	opacity: 0.5;
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
  }
.avatar2 {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
  }

.green {
 color:#60BEB8 ;
}

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
    float: right;
    font-weight: bold;
    background: black;
    padding: 10px;
    border-radius: 50%;
    font-size: 50px;
    margin-right: -35px;
    margin-top: -44px;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }